.machine-site-overlay {
	stroke: #ff0000;
	stroke-width: 0.1px;
	stroke-linejoin: bevel;
	//fill: hsla(0, 100%, 50%, 0.75);
}

.forest-box {
	fill: #33cc33;
}

.boulders-box {
	fill: #dd9944;
}

.mountain-box {
	fill: #996633;
}

.tall-grass-box {
	fill: #cc3366;
}
