@use "vars";

@page {
	size: letter;
	margin: 0;
}

.print-module {
	--cadence: 1.1rem;
	--page-width: 8.5in;
	--page-height: 11in;
	--page-margin: 0;  // outside the page — overridden for screen
	--page-padding: 0.5in;  // general inside padding
	--page-binding-offset: 0.25in;  // additional padding on the inner side
	--page-column-gap: 0.25in;  // space between columns
	--gutter-print-width: 1in;  // printable width of a gutter column, if present
	--gutter-padding: 0.0625in;  // one-sided space between gutter and border
	--page-inner-padding: calc(var(--page-padding) + var(--page-binding-offset));  // (0.75in) effective padding on the inner side
	--page-horizontal-padding: calc(var(--page-padding) + var(--page-inner-padding));  // (1.25in) total padding for left & right
	--page-vertical-padding: calc(var(--page-padding) * 2.0);  // (1.0in) total padding for top and bottom
	--page-print-width: calc(var(--page-width) - var(--page-horizontal-padding));  // (7.25in) effective width of print area
	--page-print-height: calc(var(--page-height) - var(--page-vertical-padding));  // (10.0in) effective height of print area
	--gutter-reserve-width: calc(var(--gutter-print-width) + var(--page-column-gap));  // (1.25in) space reserved for a gutter column, if needed
	--body-non-gutter-width: calc(var(--page-print-width) - var(--gutter-reserve-width));  // (6.0in) effective width of any body text that's not in a gutter
	--body-2col-width-total: calc(var(--body-non-gutter-width) - var(--page-column-gap));  // (5.75in) effective print area of non-gutter body
	--body-2col-width-each: calc(var(--body-2col-width-total) / 2.0);  // (2.875in) effective print area for each of 2 columns
	--body-2col-width-non-gutter-total: calc(var(--page-print-width) - var(--page-column-gap));  // (7.0in) effective print area of body with gutter hidden
	--body-2col-width-non-gutter-each: calc(var(--body-2col-width-non-gutter-total) / 2.0);  // (3.5in) effective print area of each of 2 columns with gutter hidden

	--gutter-color: var(--dusk-blue);
	--gutter-border: var(--dusk-blue-10);

	--hex-size: 1rem;
	--sqrt-3: 0.577350269189626;
	--hex-width-half: calc(var(--hex-size) / var(--sqrt-3));
	--hex-width: calc(var(--hex-width-half) * 2.0);
	--hex-height-half: calc(var(--hex-size) * 2.0);
	--hex-height: calc(var(--hex-height-half) * 2.0);

	max-width: unset;
	font-size: 9.5pt;
	color: black;

	// Safari-specific rules.
	@supports (-webkit-hyphens:none) {
		/* Safari adds footer margins that throw off the page layout, and then ignores all page break rules.  Thanks, Apple! */
		--page-height: 10.25in;
	}

	.site-header, #breadcrumbs, #pre-page, .site-footer, #print-module-top-link, summary.spoiler-warning, #page {
		display: none;
	}

	.page {
		width: var(--page-width);
		height: var(--page-height);
		padding: var(--page-padding);
		background-color: white;
		overflow: hidden;
		display: grid;
		grid-template:
			"header"
			"body"
			"footer"
		;
		grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
		position: relative;
		break-inside: avoid;
		page-break-inside: avoid;
		page-break-after: always;
		break-after: page;

		&.page-odd {
			padding-left: var(--page-inner-padding);
		}

		&.page-even {
			padding-right: var(--page-inner-padding);
		}

		.page-header {
			grid-area: header;
			max-width: var(--page-print-width);

			margin-bottom: var(--cadence-half);
			//border-bottom: thin solid var(--evening-blue-25);
		}
		.page-body {
			grid-area: body;
			width: var(--page-print-width);
			max-height: var(--page-print-height);
			max-width: var(--page-print-width);
			//column-width: 3.5in;
			//column-count: 2;
			//column-gap: 0.25in;
			//column-fill: auto;
			z-index: 2;

			&>:first-child {
				margin-top: 0;
			}

			&>:last-child {
				margin-bottom: 0;
			}

			&>* {
				break-inside: avoid;
			}

			&.full-gutters h1 {
				margin-right: var(--gutter-reserve-width);
			}

			.columned-wrapper {
				display: grid;
				grid-template-areas: "left right gutter";
				grid-template-columns: minmax(var(--body-2col-width-each), 1fr) minmax(var(--body-2col-width-each), 1fr) minmax(auto, var(--gutter-print-width));
				grid-gap: var(--page-column-gap);

				.columned-gutter {
					grid-area: gutter;
					position: relative;

					&.absolute .aside {
						position: absolute;
					}

					.aside {
						padding-left: var(--gutter-padding);
						border-left: thin solid var(--gutter-border);
						font-family: vars.$font-sans;
						font-size: 90%;

						&, & a {
							color: var(--gutter-color);
						}
					}
				}
				.columned-left {
					grid-area: left;
				}
				.columned-right {
					grid-area: right;
				}
			}

			&.empty-gutters {
				.columned-gutter {
					display: none;
				}

				.columned-wrapper {
					grid-template-areas: "left right";
					grid-template-columns: var(--body-2col-width-non-gutter-each) var(--body-2col-width-non-gutter-each);
				}

				&>.col-span-all {
					margin-left: 0;
				}
			}
		}
		.page-footer {
			grid-area: footer;
			font-size: 90%;
			font-family: vars.$font-sans;
			color: #333;
			max-width: var(--page-print-width);

			:first-child {
				border-top: thin solid #ccc;
			}
		}
		.page-number {
			position: absolute;
			bottom: 0.25in;
			width: var(--hex-width);
			height: var(--hex-height);
			z-index: 1;
			overflow: hidden;

			.page-number-hex {
				margin-top: var(--hex-size);
				width: var(--hex-width);
				height: calc(var(--hex-size) * 2.0);
				background-color: var(--noon-blue-25);
				position: relative;

				&::before {
					content: " ";
					width: 0;
					height: 0;
					border-bottom: var(--hex-size) solid var(--noon-blue-25);
					border-left: var(--hex-width-half) solid transparent;
					border-right: var(--hex-width-half) solid transparent;
					position: absolute;
					top: calc(var(--hex-size) * -1.0);
				}

				&::after {
					content: "";
					width: 0;
					position: absolute;
					bottom: calc(var(--hex-size) * -1.0);
					border-top: var(--hex-size) solid var(--noon-blue-25);
					border-left: var(--hex-width-half) solid transparent;
					border-right: var(--hex-width-half) solid transparent;
				}
			}

			.page-number-value {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				color: white;
				text-shadow: 0 0 0.25em var(--evening-blue);
				font-weight: var(--weight-bold);
				text-align: center;
				font-size: 200%;
				line-height: var(--hex-height);
				//background: radial-gradient(circle, var(--evening-blue-25), transparent, transparent);
			}
		}
	}

	h1, h2, h3, h4, h5, h6 {
		break-after: avoid;
		font-family: vars.$font-sans;
		min-height: unset;
		line-height: calc(var(--cadence) * 1.5);
	}

	.avoid-break-after {
		break-after: avoid-column;
	}

	h1, .stat-block {
		column-span: all;
	}

	h3 {
		margin-bottom: 0;
	}

	h4 {
		font-size: 1.1rem;
		font-style: normal;
		color: var(--dusk-blue);
	}

	h1+p, h1+h2 {
		margin-top: 0;
	}

	h2+p, h3+p {
		margin-top: var(--cadence-half);
	}

	a[rel="external"], a[data-page-of], a.page-ref {
		text-decoration: none;
	}

	span.same-page {
		display: none;
	}

	abbr {
		text-decoration: none;
	}

	.page-odd {
		.page-number {
			right: 0.25in;
		}
		.page-footer {
			margin-right: var(--hex-width);
		}
		.page-body {
			.columned-wrapper {
				grid-template-areas: "gutter left right";
				grid-template-columns: minmax(auto, 1in) minmax(2.875in, 1fr) minmax(2.875in, 1fr);

				.columned-gutter {
					.aside {
						text-align: right;
						border-left: none;
						border-right: thin solid var(--gutter-border);
						padding-left: 0;
						padding-right: var(--gutter-padding);
					}
				}
			}

			&.full-gutters h1 {
				margin-left: 1.25in;
				margin-right: 0;
			}

			&.empty-gutters {
				.columned-gutter {
					display: none;
				}

				.columned-wrapper {
					grid-template-areas: "left right";
					grid-template-columns: 3.5in 3.5in;
				}

				&>.col-span-all {
					margin-right: 0;
				}
			}
		}
	}

	.page-even {
		.page-number {
			left: 0.25in;
		}
		.page-footer {
			margin-left: var(--hex-width);
		}
	}

	.story-links {
		column-span: inherit;
	}

	.story-link+.story-link {
		padding-top: 0;
	}

	.hanging-indent {
		padding-left: var(--cadence-half);
		text-indent: var(--cadence-half-negative);
	}

	.blockquote-part {
		color: var(--night-blue);
		background-color: var(--noon-blue-10);
		border-left: var(--cadence-quarter) solid var(--noon-blue-25);
		padding: var(--cadence) var(--cadence-half);
		margin: 0;
		break-inside: avoid;

		&>* {
			margin: 0;
		}
	}

	.narrator-note {
		border-left: var(--cadence-quarter) solid var(--dusk-green-25);
	}

	.blockquote-part+.blockquote-part {
		margin-top: 0;
		padding-top: 0;
	}

	.cypher-pc-stat-block {
		column-span: all;

	}

	.dnd5e-pc-block {
		box-shadow: none;
		background-color: white;
		margin-top: var(--cadence-half);

		.detailed {
			margin: var(--cadence-quarter) 0;
		}

		.attack, .range {
			white-space: nowrap;
		}

		.size-and-type {
			font-size: 1.1em;

			a[data-footnote-number] {
				font-weight: var(--weight-normal);
				color: black;

				&::after {
					content: none;
				}
			}
		}
	}


	&.cypher-module {
		.cypher-stat-block {
			font-size: inherit;

			article {
				// column-gap: var(--cadence);
			}

			.detailed {
				margin: 0;
				padding-left: var(--cadence-half);
				text-indent: var(--cadence-half-negative);
			}

			table {
				margin-top: 0;
			}
		}
	}
}

@media screen {
	.print-module {
		--page-margin: 0.125in;
		background-color: #444;
		min-width: calc(var(--page-width) + var(--page-margin) + var(--page-margin));

		#pages {
			background-color: #555;
			display: flex;
			flex-wrap: wrap;

			.page {
				margin: var(--page-margin);
			}
		}
	}
}

.print-render-mask {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 150%;
	font-family: vars.$font-sans;
	line-height: 1.5em;

	&.print-render-done {
		.print-render {
			background-color: #cfc;

			.print-render-message {
				font-weight: bold;
				color: #090;
			}

			.print-render-progress {
				color: rgba(0, 0, 0, 0.2);
			}
		}
	}

	.print-render {
		position: fixed;
		width: 25em;
		background-color: #eee;
		justify-self: center;
		margin: auto auto;
		color: rgba(0, 0, 0, 0.8);
		padding: 1.5em;
		box-shadow: 0 0 1.5em black;
		display: flex;
		flex-direction: column;

		.print-render-title {
			color: rgba(0, 0, 0, 0.4);
			border-bottom: thin solid rgba(0, 0, 0, 0.4);
			padding-bottom: 0.75em;
			margin-bottom: 1.5em;
		}

		.print-render-progress {
			display: flex;
			flex-direction: row;
		}

		.print-render-status {
			flex-grow: 1;
		}

		.print-render-percent {
			font-size: 150%;
			font-weight: bold;
			justify-self: end;
		}

		.print-render-message {
			border-top: thin solid rgba(0, 0, 0, 0.4);
			padding-top: 0.75em;
			margin-top: 1.5em;
			color: rgba(0, 0, 0, 0.3);
		}
	}

	.error {
		color: red;
		font-weight: bold;
	}
}

@media print {
	.print-render-mask {
		display: none;
	}

	// Firefox doesn't print background gradients well.
	@supports (-moz-appearance:none) {
		.cypher-stat-block {
			.title {
				background-image: none;
			}
		}
		.cypher-pc-stat-block {
			article {
				background-image: none;
				background-color: var(--noon-blue-5);
			}

			.block .label, .stat .label, .stat .legend, .block .legend, .stat .legend, .block .legend {
				background-image: none;
			}
		}
	}
}
