---
---

//noinspection CssUnknownTarget
// @import "{{ site.theme }}";

// Exo 2 is a little too computer-y.  (Yeah, I know.  The irony is not lost on me.)
//@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
// Signika is okay ... but a little too tight.
//@import url('https://fonts.googleapis.com/css2?family=Signika:wght@200;300;400;500;600;700&display=swap');
// Recursive is a little too visually distracting for large blocks of text.
//@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,MONO@-15..0,300..1000,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@250;350;450;550;650;750&display=swap');
// Used for Focus/AR/code, and for Cypher stat blocks
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
// Open Sans is a little too plain
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
// Noto Serif is a strong contender
//@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// .. but Noto Sans doesn't have the weight options to balance Noto Serif
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Used for D&D Stat Blocks (headers)
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:700');
// Used for D&D Stat Blocks (body)
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	// In general, blues are used for most shading.
	// For text, blues are used for read-along blocks.
	--barely-blue: hsl(208, 80%, 99%);
	--noon-blue: hsl(208, 80%, 88%);
  --morning-blue: hsl(208, 80%, 66%);
	--evening-blue: hsl(208, 80%, 44%);
	--dusk-blue: hsl(208, 80%, 33%);
	--night-blue: hsl(208, 80%, 22%);
	--midnight-blue: hsl(208, 80%, 11%);

	--evening-blue-50: hsla(208, 80%, 44%, 0.5);
	--evening-blue-25: hsla(208, 80%, 44%, 0.25);
	--dusk-blue-25: hsla(208, 80%, 33%, 0.25);
	--dusk-blue-10: hsla(208, 80%, 33%, 0.1);
	--dusk-blue-5: hsla(208, 80%, 33%, 0.05);

	// For text, oranges are used for Story Links.
	--barely-orange: hsl(32, 80%, 99%);
	--noon-orange: hsl(32, 80%, 88%);
	--morning-orange: hsl(32, 80%, 66%);
	--evening-orange: hsl(32, 80%, 44%);
	--dusk-orange: hsl(32, 80%, 33%);
	--night-orange: hsl(32, 80%, 22%);
	--midnight-orange: hsl(32, 80%, 11%);

	// For text, greens are used for Narrator Note blocks.
	--barely-green: hsl(96, 80%, 99%);
	--noon-green: hsl(96, 80%, 77%);
	--morning-green: hsl(96, 80%, 55%);
	--evening-green: hsl(96, 80%, 44%);
	--dusk-green: hsl(96, 80%, 33%);
	--night-green: hsl(96, 80%, 22%);
	--midnight-green: hsl(96, 80%, 11%);

	//Recursive
	//--mono: "MONO" 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
	//--casl: "CASL" 0; /* 0 (Linear) to 1 (Casual) */
	//--wght: "wght" 300; /* Weight: Light to ExtraBlack; usually set with `font-weight` */
	//--slnt: "slnt" 0; /* Slant: 0 to -15 degrees, auto cursive at -14 */
	//--CRSV: "CRSV" 0.5;  /* Cursive: always roman, auto substitution, or always cursive */
	//--wght-bolder: "wght" 600;
	//--wght-boldish: "wght" 500;
	//--casl-most: "CASL" 1;
	//--slnt-most: "slnt" -15;
	//--crsv-most: "CRSV" 1;
	//--crsv-least: "CRSV" 0;

	--cadence: 1.75rem;
	--cadence-half: calc(var(--cadence) * 0.5);
	--cadence-quarter: calc(var(--cadence) * 0.25);
	--cadence-double: calc(var(--cadence) * 2);

	--weight-normal: 350;
	--weight-light: calc(var(--weight-normal) - 100);
	--weight-boldish: calc(var(--weight-normal) + 100);
	--weight-bold: calc(var(--weight-normal) + 200);
	--weight-heavy: calc(var(--weight-normal) + 300);
}

* {
	box-sizing: border-box;
}

html {
	background-color: #333;
}

body {
	font-family: 'Roboto Slab', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	//font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
	font-weight: var(--weight-normal);
	font-size: 120%;
	color: var(--midnight-blue);
	background-color: white;

	max-width: 60em;
	margin: 0 auto;
	line-height: var(--cadence);
}

.page-header {
  padding: var(--cadence-half);
	background-color: var(--evening-blue);
	background-image: linear-gradient(180deg, var(--evening-blue), var(--dusk-blue));
	min-height: var(--cadence-double);
	width: 100%;
	display: grid;
	grid-template-columns: [name] min-content [tagline] auto;
	//font-family: 'Noto Sans', Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	//align-items: center;

  a.btn {
    display: none;
  }

	.project-name {
		margin: var(--cadence-half) var(--cadence-double) var(--cadence-half) 0;
		border-right: thin solid rgba(255, 255, 255, 0.5);
		padding-right: var(--cadence-double);
		text-transform: capitalize;
		grid-area: name;
		color: white;
		font-weight: var(--weight-light);
		letter-spacing: 0.04em;
		font-size: 3rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
		display: flex;
		align-items: center;
	}

	.project-tagline {
		margin: var(--cadence-half) 0;
		color: var(--barely-blue);
		min-height: var(--cadence-double);
		font-size: calc(0.75 * var(--cadence));
		line-height: var(--cadence);
		grid-area: tagline;
		display: flex;
		align-items: center;
		font-weight: var(--weight-light);
	}

}

.main-content {
	//font-size: inherit;
	padding: var(--cadence);
	margin: 0 auto;
	max-width: 45em;

	h1 {
		color: var(--evening-blue);
		border-bottom: thin solid var(--evening-blue-25);
		//font-variation-settings: var(--casl-most), var(--wght-bolder);
		font-weight: var(--weight-heavy);
		letter-spacing: -0.04em;
		font-size: 1.5rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}
	h2 {
		color: var(--dusk-blue);
		border-bottom: thin solid var(--dusk-blue-25);
		//font-variation-settings: var(--casl-most), var(--wght-bolder);
		font-weight: var(--weight-heavy);
		letter-spacing: -0.04em;
		font-size: 1.4rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}
	h3 {
		color: var(--night-blue);
		//font-variation-settings: var(--casl-most), var(--wght-bolder);
		font-weight: var(--weight-heavy);
		letter-spacing: -0.04em;
		font-size: 1.3rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}
	h4 {
		color: var(--night-blue);
		//font-variation-settings: var(--casl-most), var(--wght-boldish), var(--slnt-most);
		font-weight: var(--weight-bold);
		font-style: italic;
		letter-spacing: -0.04em;
		font-size: 1.3rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}

	h1, h2, h3, h4 {
		margin: var(--cadence) 0;
	}

	&>h1:first-child, &>h2:first-child, &>h3:first-child, &>h4:first-child {
		margin-top: 0;
	}

	blockquote, .narrator-note {
		//font-variation-settings: var(--crsv-most), var(--casl-most), var(--slnt-most);
		color: #555;
		background-color: var(--barely-blue);
		padding: var(--cadence) var(--cadence-half);
		margin: 0;
		border-left: var(--cadence-quarter) solid var(--noon-blue);

		&>:first-child {
			margin-top: 0;
		}

		&>:last-child {
			margin-bottom: 0;
		}
	}

	.narrator-note {
		color: var(--dusk-green);
		background-color: var(--barely-green);
		border-left-color: var(--noon-green);
		display: block;
		padding: var(--cadence) var(--cadence-half);

		header {
			display: block;
			color: var(--night-green);
			//font-variation-settings: var(--wght-bolder);
			font-weight: var(--weight-bold);
			margin: 0 0 var(--cadence) 0;
		}
	}

	.site-footer {
		margin-top: var(--cadence-double);
	}

	table {
		display: table;
		width: auto;
		margin: var(--cadence) 0;

		th, td {
			padding: var(--cadence-quarter) var(--cadence-half);
		}
	}

	ul {
		padding-left: var(--cadence);
	}

	li {
		margin: var(--cadence-half) 0;

		&:first-child {
			margin-top: var(--cadence-half);
		}
	}

	p {
		margin: var(--cadence) 0;
	}
}

a {
	color: var(--dusk-blue);
	//font-variation-settings: var(--wght-bolder);
	font-weight: var(--weight-boldish);
}

a:visited {
	color: var(--night-blue);
}

a:hover {
	color: var(--dusk-blue);
	background-color: var(--noon-blue);
}

.site-footer-credits {
	display: none;
}

strong, th {
	//font-variation-settings: var(--wght-bolder);
	font-weight: var(--weight-bold);
}

em {
	//font-variation-settings: var(--slnt-most);
	font-style: italic;
}

.story-links {
	.story-link {
		border-left-color: var(--morning-orange);
	}
}

.story-link {
	color: var(--dusk-orange);
	background-color: var(--barely-orange);
	border-left: var(--cadence-quarter) solid var(--noon-orange);
	padding: var(--cadence) var(--cadence-half);
	display: block;

	&:hover, &:visited:hover {
		text-decoration: none;
		background-color: var(--noon-orange);
		border-left-color: var(--morning-orange);
		color: var(--night-orange);
	}

	&:visited {
		color: var(--dusk-orange);
		background-color: var(--barely-orange);
	}
}

code {
	color: var(--dusk-blue);
	display: inline-block;
	background-color: var(--dusk-blue-5);
	padding: 0.0625em 0.5em;
	margin: -0.0625em 0;
	font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.spoiler {
	color: #333 !important;
	background-color: #333 !important;
	display: inline-block;
	padding: 0.2em;
	margin: -0.2em 0;

	&::before {
		content: " (spoiler) ";
	}

	&:hover, &:focus {
		color: inherit !important;
		background-color: rgba(0, 0, 0, 0.1) !important;

		&::before {
			content: none;
		}
		&::after {
			content: " (spoiler) ";
			visibility: hidden;
		}
	}
}

.hanging-indent {
	padding-left: 1.5rem;
	text-indent: -1.5rem;
}

@media (max-width: 40rem) {
	:root {
		--cadence: 1.5rem;
	}

	body {
		font-size: 100%;
	}
	.page-header {
		display: block;
		text-align: left;
		padding: var(--cadence-half);

		.project-name {
			border-right: none;
			padding-right: 0;
			margin-right: 0;
			font-size: 2rem;
			margin-top: 0;
		}
	}
	.main-content {
		padding: var(--cadence-half);
	}
}

// Stat Blocks

.stat-block {
	table.stats, table.loot-list {
		margin: var(--cadence-half) 0;
		border: none;
		display: table;
		width: 100%;

		th, td {
			border: none;
			padding: 0;
		}
	}

	table.stats {
		th, td {
			text-align: center;
		}
	}

	table.loot-list {

		.loot-percent, .loot-qty {
			text-align: right;
		}

		th {
			text-align: left;
			text-transform: uppercase;
			font-size: 80%;
			color: rgba(0, 0, 0, 0.4);
		}

		tbody {
			tr {
				border-top: thin solid rgba(128, 128, 128, 0.1);
			}
		}

		td:first-of-type, th:first-of-type {
			padding-left: 0;
		}

		td:last-of-type, th:last-of-type {
			padding-right: 0;
		}
	}

	header, h3, h4 {
		break-after: avoid;
		break-inside: avoid;
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	article {
		column-width: 20rem;
		column-gap: var(--cadence-double);
	}
}

// D&D 5E Stat Block styles based on: https://github.com/Nyranith/statblock5e

.dnd5e-stat-block {
	border: 0.05rem #DDD solid;
	box-shadow: 0 0 var(--cadence-half) #867453;
	background: #FDF1DC;
	padding: 0.5rem;
	color: black;

	font-family: 'Alegreya Sans', 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;

	&:before, &:after {
		content: '';
		display: block;
		height: 0.5rem;
		background: url(../img/dnd5e-stat-block-noise.png);
		border: thin solid #7A200D;
	}

	&:before {
		margin: -0.55rem -0.55rem 0.5rem -0.55rem;
	}

	&:after {
		margin: 0.5rem -0.55rem -0.55rem -0.55rem;
	}

	h3 {
		font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
		color: #7A200D;
		font-weight: 700;
		letter-spacing: 0.05em;
		margin: 0;
		font-size: 1.4rem;
		text-transform: uppercase;

		.word {  // because smallcaps looks like ass
			display: inline-block;

			&::first-letter {
				font-size: 1.7rem;
			}
		}
	}

	h4 {
		border-bottom: 0.075em solid #7A200D;
		color: #7A200D;
		//font-variant: small-caps;
		letter-spacing: 0.05em;
		//font-variation-settings: var(--slnt);
		break-inside: avoid-column;
		break-after: avoid-column;
		text-transform: uppercase;
		font-size: 1.2rem;
		margin: var(--cadence-half) 0;
		line-height: normal;
		min-height: auto;

		&::first-letter {
			font-size: 115%;
		}
	}

	a, a:visited {
		color: #7A200D;

		&:hover {
			background-color: rgba(128, 128, 128, 0.2);
			color: #b82f14;
		}
	}

	.size-and-type {
		margin: 0 0 0.3rem 0;
		font-size: 1rem;
		text-transform: lowercase;
	}

	.ac-hp-speed, .additional-stats {

		color: #7A200D;

		&:before, &:after {
			content: '';
			display: block;
			height: 0.3rem;
			background-image: linear-gradient(45deg, #7A200D, rgba(122, 32, 13, 0));
			margin: 0.5rem 0;
		}

		p {
			margin: 0;
			text-indent: hanging 0.5rem;
		}
	}

	header+p {
		margin-top: 0;
	}

	table.stats {
		color: #7A200D;
	}
}

.cypher-stat-block {
	padding-bottom: var(--cadence-half);
	border-bottom: thick solid var(--night-green);
	color: var(--midnight-green);
	font-size: 1.1rem;
	font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;


	.title {
		background-color: var(--night-green);
		background-image: linear-gradient(to bottom, var(--night-green), var(--dusk-green));
		display: flex;
		margin: 0.5rem 0;
		color: white;
		padding: 0.5em;
		border-radius: 0.5em 0.5em 0.5em 0;
		font-weight: var(--weight-bold);
		//font-variation-settings: var(--wght-bolder);
		font-size: 1.3rem;
		line-height: var(--cadence-double);
		text-shadow: black 0 0 0.25em;
		column-span: all;

		h3 {
			text-transform: uppercase;
			flex-grow: 1;
			color: white;
			margin: 0;
			letter-spacing: 0.05em;
		}
	}

	.stats-tab {
		margin: -0.5em 0 0.5em 0;
		padding-bottom: 0.25em;
		background-color: var(--dusk-green);
		border-radius: 0 0 0.5em 0.5em;
		color: white;
		text-shadow: black 0 0 0.125em;
	}

	table.stats {
		margin: 0;

		th, td {
			abbr[title] {
				text-decoration: none;
				border-bottom: none;
			}
		}
	}

	h4 {
		color: var(--night-green);
		//font-variation-settings: var(--slnt);
		font-style: italic;
		border-bottom: thin solid var(--dusk-green);
		text-transform: uppercase;
		min-height: auto;
		line-height: 1.3em;
		margin: 1.3em 0 0 0;
	}

	strong {
		color: var(--night-green);
	}

	p {
		text-indent: -1em;
		padding-left: 1em;
		margin: 0.65em 0;
		line-height: 1.3em;
	}

	table p {
		padding-left: 0;
		text-indent: 0;
	}

	&:before {
		margin: -0.55em -0.55em 0.5em -0.55em;
	}
}

@media (max-width: 48rem) {
	.cypher-stat-block .title {
		border-bottom-right-radius: 0;
	}
}
