---
---

//noinspection CssUnknownTarget
@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,MONO@-15..0,300..1000,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:700');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	// In general, blues are used for most shading.
	// For text, blues are used for read-along blocks.
	--barely-blue: hsl(208, 80%, 99%);
	--noon-blue: hsl(208, 80%, 88%);
  --morning-blue: hsl(208, 80%, 66%);
	--evening-blue: hsl(208, 80%, 44%);
	--dusk-blue: hsl(208, 80%, 33%);
	--night-blue: hsl(208, 80%, 22%);
	--midnight-blue: hsl(208, 80%, 11%);

	--evening-blue-50: hsla(208, 80%, 44%, 0.5);
	--evening-blue-25: hsla(208, 80%, 44%, 0.25);
	--dusk-blue-25: hsla(208, 80%, 33%, 0.25);

	// For text, oranges are used for Story Links.
	--barely-orange: hsl(32, 80%, 99%);
	--noon-orange: hsl(32, 80%, 88%);
	--morning-orange: hsl(32, 80%, 66%);
	--evening-orange: hsl(32, 80%, 44%);
	--dusk-orange: hsl(32, 80%, 33%);
	--night-orange: hsl(32, 80%, 22%);
	--midnight-orange: hsl(32, 80%, 11%);

	// For text, greens are used for Narrator Note blocks.
	--barely-green: hsl(96, 80%, 99%);
	--noon-green: hsl(96, 80%, 77%);
	--morning-green: hsl(96, 80%, 55%);
	--evening-green: hsl(96, 80%, 44%);
	--dusk-green: hsl(96, 80%, 33%);
	--night-green: hsl(96, 80%, 22%);
	--midnight-green: hsl(96, 80%, 11%);

	//Recursive
	--mono: "MONO" 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
	--casl: "CASL" 0; /* 0 (Linear) to 1 (Casual) */
	--wght: "wght" 300; /* Weight: Light to ExtraBlack; usually set with `font-weight` */
	--slnt: "slnt" 0; /* Slant: 0 to -15 degrees, auto cursive at -14 */
	--CRSV: "CRSV" 0.5;  /* Cursive: always roman, auto substitution, or always cursive */
	--wght-bolder: "wght" 600;
	--wght-boldish: "wght" 500;
	--casl-most: "CASL" 1;
	--slnt-most: "slnt" -15;
	--crsv-most: "CRSV" 1;
	--crsv-least: "CRSV" 0;

	--cadence: 1.5rem;
	--cadence-quarter: 0.375rem;
	--cadence-half: 0.75rem;
	--cadence-double: 3rem;
}

html {
	background-color: #333;
}

body {
	font-family: Recursive, Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
	font-weight: 300;
	font-size: 120%;
	color: var(--midnight-blue);
	background-color: white;

	max-width: 60em;
	margin: 0 auto;
	line-height: var(--cadence);
}

.page-header {
  padding: var(--cadence-half);

  a.btn {
    display: none;
  }

	background-color: var(--evening-blue);
	background-image: linear-gradient(180deg, var(--evening-blue), var(--dusk-blue));

	display: flex;
	//align-items: center;

	.project-name {
		margin: var(--cadence-half) var(--cadence-double) var(--cadence-half) 0;
		border-right: thin solid rgba(255, 255, 255, 0.5);
		padding-right: var(--cadence-double);
		text-transform: capitalize;

		color: white;
		font-weight: 300;
		letter-spacing: 0.04em;
		font-size: 3rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}

	.project-tagline {
		margin-bottom: 0;
	}

}

.main-content {
	h1 {
		color: var(--evening-blue);
		border-bottom: thin solid var(--evening-blue-25);
		font-variation-settings: var(--casl-most), var(--wght-bolder);
		font-weight: 600;
		letter-spacing: -0.04em;
		font-size: 1.5rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}
	h2 {
		color: var(--dusk-blue);
		border-bottom: thin solid var(--dusk-blue-25);
		font-variation-settings: var(--casl-most), var(--wght-bolder);
		font-weight: 600;
		letter-spacing: -0.04em;
		font-size: 1.4rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}
	h3 {
		color: var(--night-blue);
		font-variation-settings: var(--casl-most), var(--wght-bolder);
		font-weight: 600;
		letter-spacing: -0.04em;
		font-size: 1.3rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}
	h4 {
		color: var(--night-blue);
		font-variation-settings: var(--casl-most), var(--wght-boldish), var(--slnt-most);
		font-weight: 500;
		letter-spacing: -0.04em;
		font-size: 1.3rem;
		line-height: var(--cadence-double);
		min-height: var(--cadence-double);
	}

	blockquote, .narrator-note {
		font-variation-settings: var(--crsv-most), var(--casl-most), var(--slnt-most);
		color: #555;
		background-color: var(--barely-blue);
		padding: var(--cadence) var(--cadence-half);
		margin: 0;
		border-left: var(--cadence-quarter) solid var(--noon-blue);
	}

	.narrator-note {
		color: var(--dusk-green);
		background-color: var(--barely-green);
		border-left-color: var(--noon-green);
		display: block;
		padding: var(--cadence) var(--cadence-half);

		header {
			display: block;
			color: var(--night-green);
			font-variation-settings: var(--wght-bolder);
			font-weight: 600;
			margin: 0 0 var(--cadence) 0;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	table {
		display: table;
		width: auto;
		margin: var(--cadence) 0;

		th, td {
			padding: var(--cadence-quarter) var(--cadence-half);
		}
	}

	ul {
		padding-left: var(--cadence);
	}

	li {
		margin: var(--cadence-half) 0;

		&:first-child {
			margin-top: var(--cadence-half);
		}
	}

	p {
		margin: var(--cadence) 0;
	}

	font-size: inherit;
	padding: var(--cadence);
}

a {
	color: var(--dusk-blue);
	font-variation-settings: var(--wght-bolder);
	font-weight: 600;
}

a:visited {
	color: var(--night-blue);
}

a:hover {
	color: var(--dusk-blue);
	background-color: var(--noon-blue);
}

.site-footer-credits {
	display: none;
}

strong, th {
	font-variation-settings: var(--wght-bolder);
}

em {
	font-variation-settings: var(--slnt-most);
}

.story-links {

	.story-link {
		border-left-color: var(--morning-orange);
	}
}

.story-link {
	color: var(--dusk-orange);
	background-color: var(--barely-orange);
	border-left: var(--cadence-quarter) solid var(--noon-orange);
	padding: var(--cadence) var(--cadence-half);
	display: block;

	&:hover, &:visited:hover {
		text-decoration: none;
		background-color: var(--noon-orange);
		border-left-color: var(--morning-orange);
		color: var(--night-orange);
	}

	&:visited {
		color: var(--dusk-orange);
		background-color: var(--barely-orange);
	}
}


@media (max-width: 40rem) {
	:root {
		--cadence: 1.3rem;
		--cadence-half: 0.65rem;
		--cadence-quarter: 0.325rem;
		--cadence-double: 2.6rem;
	}

	body {
		font-size: 100%;
	}
	.page-header {
		display: block;
		text-align: left;
		padding: var(--cadence-half) var(--cadence-half) var(--cadence) var(--cadence-half);

		.project-name {
			border-right: none;
			padding-right: 0;
			margin-right: 0;
			font-size: 2rem;
			margin-top: 0;
		}
	}
	.main-content {
		padding: var(--cadence-half);
	}
}

// Stat Blocks

.stat-block {
	table.stats, table.loot-list {
		margin: var(--cadence-half) 0;
		border: none;
		display: table;
		width: 100%;

		th, td {
			border: none;
			padding: 0 var(--cadence-half);
		}
	}

	table.stats {
		th, td {
			text-align: center;
		}
	}

	table.loot-list {

		.loot-percent, .loot-qty {
			text-align: right;
		}

		th {
			text-align: left;
			text-transform: uppercase;
			font-size: 80%;
			color: rgba(0, 0, 0, 0.4);
		}

		tbody {
			tr {
				border-top: thin solid rgba(128, 128, 128, 0.1);
			}
		}

		td:first-of-type, th:first-of-type {
			padding-left: 0;
		}

		td:last-of-type, th:last-of-type {
			padding-right: 0;
		}
	}

	header, h3, h4 {
		break-after: avoid;
		break-inside: avoid;
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	article {
		column-width: 20rem;
		column-gap: var(--cadence-double);
	}
}

// D&D 5E Stat Block styles based on: https://github.com/Nyranith/statblock5e

.dnd5e-stat-block {
	border: 0.05rem #DDD solid;
	box-shadow: 0 0 var(--cadence-half) #867453;
	background: #FDF1DC;
	padding: 0.5rem;
	color: black;

	font-family: 'Alegreya Sans', 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;

	&:before, &:after {
		content: '';
		display: block;
		height: 0.5rem;
		background: url(../img/dnd5e-stat-block-noise.png);
		border: thin solid #7A200D;
	}

	&:before {
		margin: -0.55rem -0.55rem 0.5rem -0.55rem;
	}

	&:after {
		margin: 0.5rem -0.55rem -0.55rem -0.55rem;
	}

	h3 {
		font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
		color: #7A200D;
		font-weight: 700;
		letter-spacing: 0.05em;
		margin: 0;
		font-size: 1.4rem;
		text-transform: uppercase;

		.word {  // because smallcaps looks like ass
			display: inline-block;

			&::first-letter {
				font-size: 1.7rem;
			}
		}
	}

	h4 {
		border-bottom: 0.075em solid #7A200D;
		color: #7A200D;
		//font-variant: small-caps;
		letter-spacing: 0.05em;
		font-variation-settings: var(--slnt);
		break-inside: avoid-column;
		break-after: avoid-column;
		text-transform: uppercase;
		font-size: 1.2rem;

		&::first-letter {
			font-size: 115%;
		}
	}

	a, a:visited {
		color: #7A200D;

		&:hover {
			background-color: rgba(128, 128, 128, 0.2);
			color: #b82f14;
		}
	}

	.size-and-type {
		margin: 0 0 0.3rem 0;
		font-size: 1rem;
		text-transform: lowercase;
	}

	.ac-hp-speed, .additional-stats {

		color: #7A200D;

		&:before, &:after {
			content: '';
			display: block;
			height: 0.3rem;
			background-image: linear-gradient(45deg, #7A200D, rgba(122, 32, 13, 0));
			margin: 0.5rem 0;
		}

		p {
			margin: 0;
			text-indent: hanging 0.5rem;
		}
	}

	.non-attacks {
		padding: 0.5rem 0;
	}

	table.stats {
		color: #7A200D;
	}
}

.cypher-stat-block {
	padding-bottom: var(--cadence-half);
	border-bottom: thick solid var(--night-green);
	color: var(--midnight-green);
	font-size: 1rem;

	.title {
		background-color: var(--night-green);
		background-image: linear-gradient(to bottom, var(--night-green), var(--dusk-green));
		display: flex;
		margin: 0.5rem 0;
		color: white;
		padding: 0.5em;
		border-radius: 0.5em 0.5em 0.5em 0;
		font-weight: bold;
		font-variation-settings: var(--wght-bolder);
		font-size: 140%;
		text-shadow: black 0 0 0.25em;
		column-span: all;

		h3 {
			text-transform: uppercase;
			flex-grow: 1;
			color: white;
			margin: 0;
			letter-spacing: 0.05em;
		}
	}

	.stats-tab {
		margin: -0.5em 0 0.5em 0;
		padding-bottom: 0.25em;
		background-color: var(--dusk-green);
		border-radius: 0 0 0.5em 0.5em;
		color: white;
		text-shadow: black 0 0 0.125em;
	}

	table.stats {
		margin: 0;

		th, td {
			abbr[title] {
				text-decoration: none;
				border-bottom: none;
			}
		}
	}

	h4 {
		color: var(--night-green);
		font-variation-settings: var(--slnt);
		border-bottom: thin solid var(--dusk-green);
		text-transform: uppercase;
	}

	strong {
		color: var(--night-green);
	}

	p {
		text-indent: -1em;
		padding-left: 1em;
	}

	table p {
		padding-left: 0;
		text-indent: 0;
	}

	&:before {
		margin: -0.55em -0.55em 0.5em -0.55em;
	}
}

@media (max-width: 52rem) {
	.stat-block {
		table.stats, table.loot-list {
			th, td {
				padding: 0 var(--cadence-half);
			}
		}
	}
}

@media (max-width: 48rem) {
	.cypher-stat-block .title {
		border-bottom-right-radius: 0;
	}
}
