<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset="UTF-8">
	{%- assign pageTitle = page.title | default: "" -%}
	{%- if pageTitle == "" -%}
		{%- assign headEnds = content | split: "</h" -%}
		{%- for headEnd in headEnds -%}
			{%- assign headParts = headEnd | split: "<h" -%}
			{%- for headPart in headParts -%}
				{%- assign headPartPrefix = headPart | strip | slice: 0, 1 -%}
				{%- if headPartPrefix == "1" or headPartPrefix == "2" or headPartPrefix == "3" or headPartPrefix == "4" or headPartPrefix == "5" or headPartPrefix == "6" -%}
					{%- if pageTitle == "" -%}
						{%- assign headPartLength = headPart | size -%}
						{%- assign pageTitle = headPart | slice: 2, headPartLength | strip_html | strip -%}
					{%- endif -%}
				{%- endif %}
			{%- endfor -%}
		{%- endfor -%}
	{%- endif -%}
	{%- assign paraEnds = content | split: "</p>" -%}
	{%- assign description = "" -%}
	{%- for paraEnd in paraEnds -%}
		{%- assign paraParts = paraEnd | split: "<p" -%}
		{%- for paraPart in paraParts -%}
	    {%- assign paraPartPrefix = paraPart | strip | slice: 0, 1 -%}
	    {%- if paraPartPrefix == ">" -%}
				{%- assign paraPartLength = paraPart | size -%}
				{%- assign descriptionLength = description | size -%}
				{%- if descriptionLength < 120 and paraPartLength > 10 -%}
					{%- assign descriptionPart = paraPart | slice: 1, paraPartLength | strip_html | strip -%}
					{%- capture description %}{{ description }} {{ descriptionPart | replace: "
", " " }}{% endcapture -%}
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}
	<title>{{ pageTitle }} | {{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="description" content="{{ description | strip }}">
	<link rel="stylesheet" href="{{ '/assets/css/all.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body class="{% for tag in page.tags %}{{ tag | slugify }} {% endfor %}{% if page.state %}state-{{ page.state | slugify }}{% endif %} {% if page.location %}loc-{{ page.location | replace: "'", "" | slugify }}{% endif %}">

<header class="site-header" role="banner">
	<h1 class="project-name"><a href="{{ '/' | relative_url }}" id="link-home">{{ site.title | default: site.github.repository_name }}</a></h1>
	<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
</header>

{% if page.breadcrumbs %}
<nav id="breadcrumbs">
	<ol class="breadcrumb-list">
		{% for crumb in page.breadcrumbs %}
		<li class="breadcrumb"><a href="{{ crumb.href }}.html">{{ crumb.title }}</a></li>
		{% endfor %}
	</ol>
</nav>
{% endif %}

<div id="pre-page"></div>

<main id="page" role="main">
	<div id="content" class="main-content">
	{{ content }}
	</div>
</main>

<footer class="site-footer">
	{% if page.next %}
	<nav id="next">
		<a href="{{ page.next.href }}.html"><span class="next-label">Next:</span> <span class="next-title">{{ page.next.title }}</span><span class="next-arrow"> &#9658;</span></a>
	</nav>
	{% endif %}
	<div id="post-page"></div>
	{% if site.github.is_project_page %}
	<span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
	{% endif %}
</footer>
<script src="{{ '/assets/js/skyline.js?v=' | append: site.github.build_revision | relative_url }}" type="text/javascript" defer></script>
</body>
</html>
